<!-- tasks -->
<div id="tasks" class="center-info">
    <p><strong>List of Tasks:</strong></p>
    <span *ngIf="!listOfTasks.length"><br><br>
        <img src="../../../assets/none.svg" width="100" alt="">
    </span>
    <div class="table-responsive">
        <table class="table center no-border">
            <thead>
              <tr *ngIf="listOfTasks.length">
                <th class="text-center">TIME</th>
                <th class="text-left">NAME</th>
                <th class="text-left">DATE</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of listOfTasks; let i = index" class="shadow-row">
                <td class="left-border-row text-center">{{ task.time }}</td>
                <td class="text-left wrap-txt">{{ task.tag }}</td>
                <td class="text-left">{{ task.date }}</td>
                <td class="right-border-row delete-txt"><span (click)="deleteTask(i)">Delete</span></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>