.center-info {
    text-align: center;
    margin-top: 82px;
}

h1 {
    display: inline;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 60px;
    line-height: 70px;
}

.sub-sub-title {
    opacity: .8;
}

p {
    font-size: 18px;
}

h4 { 
    font-size: 20px;
}

img {
    padding-right: 10px;
}

