<!-- intro -->
<div id="intro" class="center-info">
    <img class="spac-logo" src="../../../assets/logo.svg" alt="thyme-logo" width="70"> <h1>Thyme</h1> 
    <p>The web version of the OS X app Thyme.</p>
    <a href="https://www.buymeacoffee.com/tolribeiro" target="_blank">
      <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" 
           alt="Buy Me A Coffee" 
           [style.height.px]="60"
           [style.width.px]="217">
    </a>
    <hr>
    <h4>Time Your Tasks</h4>
    <p class="sub-sub-title">Use the stopwatch below to control how much time you spend on your tasks.</p>
</div>

<div class="tab main-tab-div">
  <button class="button tablinks">Timer</button>
  <button class="button tablinks">List of Tasks</button>
</div>

<!-- timer -->
<app-timer></app-timer>

<!-- sessions -->
<div id="section" class="text-center">
    <strong>Session: </strong> <i>{{ sessionInfo }}</i>
</div>